body {
    padding: 50px;
    background-image: url(./Images/fridge-texture.jpeg);
    font-family: sans-serif;
    background-size: cover;
}
#container {
    display: flex;
    justify-content: flex;
    align-items: center;
}
.checkbox-no-break {
    white-space: nowrap
}
li {
    list-style-type: none;
}
h2 {
    text-shadow: 2px 2px 10px white;
    padding: 10px;
    text-align: center;
}
span {
    background: #f8f9fa;
    padding: 10px;
    border: 1px #212529 solid;
}