body {
    padding: 50px;
    background-image: url(./Images/fridge-texture.jpeg);
    font-family: sans-serif;
    background-size: cover;
}
#container {
    display: flex;
    justify-content: flex;
    align-items: center;
}
.checkbox-no-break {
    white-space: nowrap
}
li {
    list-style-type: none;
}